.about-us {
  padding: 20px;
  text-align: center;
}

.about-us h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-us p {
  font-size: 1.2em;
  margin: 10px 0;
  color: #ffffff;
}