/* Navbar container */
nav {
  display: flex;
  justify-content: space-between; /* Keep title left and links right */
  align-items: center;
  background-color: #121212;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Left side - Title */
nav h1 {
  margin: 0;
  font-size: 24px;
  color: white;
}

/* Right side - Links */
nav .nav-links {
  display: flex;
  gap: 10px; /* Controls how close links are together */
  margin-right: 75px;
}

nav .nav-links a {
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
  margin-left: 10px;
}

nav .nav-links a:hover {
  color: white;
}

nav .nav-links a.active {
  color: #007BFF;
}

.App {
  padding-top: 60px; /* to avoid navbar overlap */
  box-sizing: border-box;
}

.logout-button {
  background-color: transparent;
  color: #bbb;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: color 0.2s ease;
}

.logout-button:hover {
  color: white;
}

